.select-lang-active {
	transform: rotate(90deg);
}

.select-lang {
	transition: transform 150ms linear;
}

@layer components {
	.bun {
		background-color: var(--color-my-green-light);
		position: absolute;
		display: block;
		height: 0.25rem;
		width: 2.25rem;
		border-radius: 0.125rem;
	}
}

.bun-top {
	top: 35%;
}

.bun-bot {
	bottom: 35%;
}

.burger-container.isOpen .bun-top {
	background-color: #0a6259;
	animation: bun-top-out 200ms linear normal;
	animation-fill-mode: forwards;
}

.burger-container.isOpen .bun-bot {
	background-color: #0a6259;
	animation: bun-bot-out 200ms linear normal;
	animation-fill-mode: forwards;
}

.burger-container.isClosed .bun-top {
	animation: bun-top-in 200ms linear normal;
	animation-fill-mode: forwards;
}

.burger-container.isClosed .bun-bot {
	animation: bun-bot-in 200ms linear normal;
	animation-fill-mode: forwards;
}

@keyframes bun-top-out {
	0% {
		transform-origin: center;
		transform: rotate(0) translateY(0);
	}
	100% {
		transform-origin: center;
		transform: translateY(0.5rem) rotate(45deg);
	}
}

@keyframes bun-bot-out {
	0% {
		transform-origin: center;
		transform: rotate(0deg) translateY(0);
	}
	100% {
		transform-origin: center;
		transform: translateY(-0.5rem) rotate(-45deg);
	}
}

@keyframes bun-top-in {
	0% {
		transform-origin: center;
		transform: translateY(0.5rem) rotate(45deg);
	}
	100% {
		transform-origin: center;
		transform: translateY(0) rotate(0);
	}
}

@keyframes bun-bot-in {
	0% {
		transform-origin: center;
		transform: translateY(-0.5rem) rotate(-45deg);
	}
	100% {
		transform-origin: center;
		transform: translateY(0) rotate(0);
	}
}

@media screen and (max-width: 1024px) {
	.menu {
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.15s linear;
		visibility: hidden;
	}
	.menu.isOpen {
		visibility: visible;
		pointer-events: auto;
		opacity: 1;
		background-color: var(--color-my-green-light);
	}

	.burger-container.isOpen {
		background-color: var(--color-my-green-light);
	}
}

@keyframes wiggle {
	0% {
		transform: rotate(1deg);
	}
	25% {
		transform: rotate(-1deg);
	}
	50% {
		transform: rotate(2deg);
	}
	75% {
		transform: rotate(-1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.TEST:hover {
	animation: wiggle 1s ease-in-out;
}
