@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 16px;
}

body {
	overflow: hidden;
}

@layer components {
	.subtitle {
		@apply text-3xl font-bold uppercase text-myGreen-dark;
	}
}

@media screen and (min-width: 1024px) {
	.project-list-desktop:nth-child(even) {
		flex-direction: row-reverse;
	}

	.project-list-desktop:nth-child(even) div {
		padding-left: 0;
		padding-right: 2rem;
	}
}
